<section class="slide-container ">
        <img src="img/right.png" id="right-btn" alt="" class="slide-logo">
        <div class="slide fade">
            <div class="slide-inner">
                <img class="slide-img" src="img/slide img-1.png" alt="">
                <div class="slide-info">
                    <p class="slide-heading">1Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!</p>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo possimus
                        pariatur vel eveniet quas
                        vero veniam mollitia voluptatibus. Repellendus repellat maiores accusantium eaque consequatur
                        suscipit
                        rem libero doloremque dolore.</p>
                </div>
            </div>
        </div>
        <div class="slide fade">
            <div class="slide-inner">
                <img class="slide-img" src="img/slide img-1.png" alt="">
                <div class="slide-info">
                    <p class="slide-heading">2Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!</p>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo possimus
                        pariatur vel eveniet quas
                        vero veniam mollitia voluptatibus. Repellendus repellat maiores accusantium eaque consequatur
                        suscipit
                        rem libero doloremque dolore.</p>
                </div>
            </div>
        </div>
        <div class="slide fade">
            <div class="slide-inner">
                <img class="slide-img" src="img/slide img-1.png" alt="">
                <div class="slide-info">
                    <p class="slide-heading">3Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem!</p>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum illo possimus
                        pariatur vel eveniet quas
                        vero veniam mollitia voluptatibus. Repellendus repellat maiores accusantium eaque consequatur
                        suscipit
                        rem libero doloremque dolore.</p>
                </div>
            </div>
        </div>
        <img src="img/left.png" id="left-btn" alt="" class="slide-logo">
    </section>
    <section class="cards-container">
        <div class="card bg-blue">
            <h2 class="card-heading">SUGGESTION</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minus perferendis
                incidunt itaque libero maxime sint iusto eos dolorem esse.</p>
            <div class="card-explore">
               <a href="suggestion"> <h2 class="card-heading">EXPLORE MORE</h2><img src="img/arrow.png" alt=""
                    style="width: 20px; height: 20px;"></a>
            </div>
        </div>
        <div class="card bg-gray">
            <h2 class="card-heading">COMPALINT</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minus perferendis
                incidunt itaque libero maxime sint iusto eos dolorem esse.</p>
            <div class="card-explore">
                <a href="complaint"><h2 class="card-heading b">EXPLORE MORE</h2><img src="img/arrow.png" alt=""
                    style="width: 20px; height: 20px;"></a>
            </div>
        </div>
        <div class="card bg-blue">
            <h2 class="card-heading">ANTI RAGGING</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minus perferendis
                incidunt itaque libero maxime sint iusto eos dolorem esse.</p>
            <div class="card-explore">
               <a href="antiragging"> <h2 class="card-heading">EXPLORE MORE</h2><img src="img/arrow.png" alt=""
                    style="width: 20px; height: 20px;"></a>
            </div>
        </div>
    </section>
    <section class="cards-container bg-blue aliginment">
        <div class="card ht">
            <div class="card-inner">
                <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/suggestion.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                    <p class="count-text"><%= noofsuggestions %></p>
                </div>
                    <p class="card-info-text">SUGGESTION RECEVIED</p>
                </div>
            </div>
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/suggestion.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                    <p class="count-text"><%= noofsuggestionssolved %></p>
                    <img src="img/correct.png" alt="" style="width: 10px; height: 10px;">
                </div>
                    <p class="card-info-text">SUGGESTIONS IMPLEMENTED</p>
                    
                </div>
            </div>
            </div>

        </div>
        <div class="card ht">
            <div class="card-inner">
                <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Complaint.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                    <p class="count-text"><%= noofcomplaints %></p>
                    
                </div>
                    <p class="card-info-text">COMPLAINTS RAISED</p>
                </div>
            </div>
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Complaint.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                    <p class="count-text"><%= noofcomplaintssolved %></p>
                    <img src="img/correct.png" alt="" style="width: 10px; height: 10px;">
                </div>
                    <p class="card-info-text">COMPLAINTS SOLVED</p>
                </div>
            </div>
            </div>
        </div>
        <div class="card ht">
            <div class="card-inner">
                <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Antiragging.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                    <p class="count-text"><%= noofragging %></p>
                </div>
                    <p class="card-info-text">RAGGING INCIDENTS</p>
                </div>
            </div>
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Antiragging.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                    <p class="count-text"><%=noofraggingssolved  %></p>
                    <img src="img/correct.png" alt="" style="width: 10px; height: 10px;">
                </div>
                    <p class="card-info-text">ACTIONS AGAINST ACCUSED</p>
                </div>
            </div>
            </div>
        </div>
        
        
    </section>
   